html {
  scroll-behavior: smooth;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*UTILS*/

.debug{
  border: 1px solid red;
}

.flex{
  display: flex;
}

.justify-center{
  justify-content: center;
  
}

.align-center{
  align-items: center;
}

.flex-start{
  justify-content: flex-start;
}

.center{
  justify-content: center;
  align-items: center;
}

.ai-start {
  align-items: flex-start;
}

.flex-end{
  justify-content: flex-end;
}

.space{
  justify-content: space-between;
}

.col{
  flex-direction: column;
}

.big-btn{
  padding: 13px 20px;
  margin-top: 15px;
  background: none;
  font-size: 1.1rem;
  
}

.bg-blue{
  background-color: #0161FF;
  color: white;
  border: none;
  font-size: 1.1rem;
  margin-top: 30px;
}

.bg-white{
  background-color: white;
  color: black;
  border: 1px solid gray;
  font-size: 1.1rem;
  margin-top: 40px;
}

a{
  text-decoration: none;
  color: inherit;
}

.relative{
  position: relative;
}

.absolute{
  position: absolute;
}

.full{
  width: 100%;
}

.gray-text{
  color: gray;
}

.grey-border{
  border: 1px solid lightgray;
}

.blue-text{
  color: #0161FF;
}

.bold{
  font-weight: bold;
}

h2{
  font-size: 1.8rem;
}
/*HEADER*/

header{
  height: 80px;
  width: 100%;
  background-color: white;
  position: fixed;
  z-index: 99999;
}


nav {
  width: 50%;
}

header ul{
  gap: 20px;
}

header ul li{
  list-style: none;
  height: 100%;
}

header a{
  color: black;
}

.logo{
  padding: 20px;
}

header button{
  padding: 7px 15px;
  margin: auto 20px;
  background-color: #0161FF;
  border: none;
}

header button a{
  color: white;
}

/*MAIN*/

main{
  padding-top: 80px;
}

.container-jumbo{
  width: 100%;
  margin: 0 auto;
  background-color: #B4D0E7;
  height: 630px;
}

.jumbo{
  width: 62%;
  height: 100%;
  padding-top: 100px;
}

.jumbo-info{
  height: 100%;
  margin: 0 auto;
  top: 0;
  left: 0;
}

.main-title{
  font-size: 2.2rem;
  margin-bottom: 20px;
}

.text{
  font-size: 1.2rem;
  width: 410px;
  line-height: 23px;
}

.text-box{
  width: 100%;
  height: 200px;
}

.small-box{
  width: 90%;
}

.big-box{
  width: 60%;
}

.big-box img{
  height: 460px;
}

.relative.container-jumbo img.absolute{
  top: -275px;
  left: 420px;
  box-shadow: 1px rgba(83, 82, 82, 0.712);
}

.btn-b0{
  border: none;
  padding-left: 0px;
  font-size: 1.15rem;
}

.anchor{
  font-size: 3rem;
  margin-top: 50px;
}

.content-div{
  width: 60%;
  margin: 0 auto;
  padding-top: 100px;
}

.title{
  font-size: 3rem;
}

.cards-container{
  width: 100%;
  min-height: 300px;
  gap: 50px;
  margin: 25px auto;
}

.radio{
  margin-top: 50px;
  margin-bottom: 50px;
}

label{
  padding-right: 50px;
  font-size: 1rem;
}

.card{
  width: calc(100% / 3);
  border: 1px solid lightgray;
  min-height: 200px;
}

.plan{
  height: 50px;
  border-bottom: 1px solid lightgray;
}

.professional{
  padding-top: 40px;
  margin-left: 30px;
  line-height: 40px;
  padding-bottom: 30px;
}

.plan-list{
  margin-top: 20px;
  margin-left: 30px;
  margin-bottom: 20px;
  gap: 20px;
}

.buttons{
  margin-left: 30px;
  line-height: 60px;
}

p a{
  color: #0161FF;
  text-decoration: underline;
  font-weight: 500;
}

main ul li{
  list-style: none;
}

.line{
  width: 50px;
  border: 1px solid lightgray;
  margin-top: 40px;
  margin-left: 30px;
  margin-bottom: 40px;
}

.points{
  margin-left: 30px;
  padding-bottom: 30px;
}

ul li i.absolute{
  left: -18px;
}

li.relative{
  margin-left: 19px;
}

.btn{
  top: 60px;
  right: 40px;
}

.img-box{
  height: 560px;
  width: 100%;
}

.title-img{
  margin: 50px 0px;
}

.text-img{
  width: 310px;
}

.secondary-img{
  width: 350px;
  padding-top: 30px;
}

.secondary-content-div{
  width: 60%;
  margin: 0 auto;
  flex-wrap: wrap;;
}

.secondary-title{
  padding-top: 20px;
  padding-bottom: 30px;
  font-size: 1.3rem;
}

.secondary-card{
  width: calc(100% / 3);
  min-height: 200px;
}

.last-title{
  padding-top: 200px;
  padding-bottom: 50px;
}

.last-text{
  padding-bottom: 200px;
}
/*FOOTER*/

 footer{
  background-color: black;
  padding-top: 50px;
  color: white;
 }

 .footer-container{
  width: 62%;
  margin: 0 auto;
 }

 .footer-col{
  width: calc(100% / 5);
 }

 ul li{
  list-style: none;
  padding-bottom: 15px;
 }


 footer h2{
  padding-bottom: 30px;
 }

 .footer-line{
  width: 100px;
  border: 1px solid lightgray;
  margin-top: 80px;
  margin-bottom: 60px;
}

.footer-language{
  padding-bottom: 40px;
}